@using Microsoft.AspNetCore.Identity
@model List<Student>


@{
    ViewData["Title"] = "Student";
}
<partial name="_Notification" />

<div style="display: flex; justify-content: space-between; align-items:center;margin:10px;">
    <h3 class="text-warning">Students</h3>
    <a asp-controller="Student" asp-action="Create" class="btn btn-primary"> <i class="bi bi-person-plus"></i> &nbsp; New Student</a>
</div>

<hr />

<div style="max-height:700px;overflow:scroll;">
<table class="table table-bordered table-striped table-dark">
    <thead class="thead-dark">
        <tr >
                <th class="text-primary" style="border-right:inherit !important;">Name</th>
                <th class="text-primary" style="border-right:inherit !important;">Department</th>
                <th class="text-primary" style="border-right:inherit !important;">Email</th>
                <th class="text-primary" style="border-right:inherit !important;">Discount</th>
                <th class="text-primary" style="border-right:inherit !important;">Price</th>
                <th class="text-primary" style="border-right:inherit !important;">GPA</th>
                <th class="text-primary" style="border-right:inherit !important;">Grades</th>
                <th class="text-primary" style="border-right:inherit !important;"></th>
        </tr>
    </thead>
    
    
    
    <tbody>
        @foreach (var student in Model)
        {
               
                    <tr>
                    <td class="border-left text-info" style="border-right:inherit !important;">@student.Name</td>
                    <td class="border-left text-info" style="border-right:inherit !important;">@student.Department</td>
                    <td class="border-left text-info" style="border-right:inherit !important;">@student.Email</td>
                    <td class="border-left text-info" style="border-right:inherit !important;">@student.Discount</td>
                    <td class="border-left text-info" style="border-right:inherit !important;">@student.Price</td>
                    <td class="border-left text-info" style="border-right:inherit !important;">@student.Gpa</td>
                    <td class="border-left text-info" style="border-right:inherit !important;">
                            @foreach (var grade in student.Grades)
                            {
                                <span>@grade.Key: @grade.Value</span>
                                @if (!grade.Equals(student.Grades.Last()))
                                {
                                    <span>, </span>
                                }
                            }
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                            <a style="text-decoration:none;margin-right:15px; color:hsl(45, 47%, 57%); " asp-controller="Student" asp-action="Edit" asp-route-id="@student.Id"><i class="bi bi-pen" style="margin-right:5px;"></i>Edit</a>
                            <a style="text-decoration:none;" class="text-danger" asp-controller="Student" asp-action="Delete" asp-route-id="@student.Id"><i class="bi bi-trash2-fill" style="margin-right:5px;"></i>Delete</a>
                    </div>
                </td>
                
            </tr>
            
        }
    </tbody>
</table>
</div>